
{% extends "layout2.html" %}

{%block container%}

{% from "_macros.html" import render_flied%}
<div class="container">
<div class="row">
    <h3>Alumnos</h3>
    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Apaterno</th>
                <th>Correo</th>
                <th>Eliminar</th>
                <th>Modificar</th>
            </tr>
        </thead>
        <tbody>
            {% for alum in alumnos %}
            <tr>
                <td>{{alum.nombre}}</td>
                <td>{{alum.ape_paterno}}</td>
                <td>{{alum.email}}</td>
                <td><a href="Eliminar?id={{alum.id}}"
                    class="btn btn-danger">Eliminar</a></td>
                <td><a href="Modificar?id={{alum.id}}"
                    class="btn btn-warning">Modificar</a></td>

            </tr>
                
            {% endfor %}
        </tbody>
    </table>
</div>
</div>
    
{% endblock %}